

.image1 {
  max-width: 50%;
}
.div-1 {
  display: flex;
  justify-content: space-between;
  /* margin-left: 6.5rem; */
  /* margin-right: 5rem; */
}

.div-1a {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-right: 10rem;
  margin-top: 4rem;
}
.div-1a p {
  margin-left: 3rem;
  text-align: justify;
}
/* carousel */
.div-1b {
  display: flex;
  flex-basis: 50%;
  width: 50%;
  margin-top: 1rem;
}
/* carousel */

.img-detail {
  display: flex;
  margin-bottom: 5rem;
  margin-top: 5rem;
  width: 100%;
}
/* seminar */
.laptop {
  display: flex;
  flex-basis: 50%;
  width: 50%;
}
/* seminar */
.detail {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  padding-left: 4rem;
  padding-top: 4rem;
}
.text_skill{
  color: #0f674a ;
  font-size: 3.125rem ;
  font-weight: bold; 
  margin-bottom:2rem; 
  width:30vw;
}
.text-belajar{
  color:#0F2C67; 
  font-size:3.125rem; 
  font-weight:bold; 
  margin-bottom:3rem;
  margin-left:3rem;
  text-align: center;
}
.see{
  color: black ; margin-left:6rem; font-size: 1.5rem;
}
.cont {
  display: flex;
  /* justify-content: space-between; */
  margin-left: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
}
.container {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  text-align: center;
  color: white;
  margin: 2rem;
  margin-right: 2rem;
}
.card-img-top {
  width: 30vw;
  height: 40vh;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

h1 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 6rem; 
  color: #0F2C67; 
  text-align: left; 
  margin-bottom: 1rem;
}
.form-group-1{
  display: flex;
  flex-direction: column;
}
.form-detail {
  display: flex;
  background-image: url(./image/back.jpeg) ; 
  background-size: cover; 
  background-repeat: no-repeat;
}
.form-det {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 5rem;
  color: #0F2C67;
}
.form-det H1 {
  font-size: 5vw;
}
.form-det p {
  font-size: 2vw;
  margin-bottom: 2rem;
}
#form-daftar {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 3rem;
  /* margin-bottom: 5rem; */
  padding: 5vw;
  background-color: white;
  border: none;
  border-radius: 2.18rem 0 0 0px;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}


.text-profile{
  font-size: 1.5vw;
}

.card-img-top2 {
  width: 25.625rem;
  height: 38.125rem;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}



/* Container holding the image and the text */


/* Top left text */
.top-left {
  position: absolute;
  top: 5rem;
  left: 2.5rem;
  color: white;
  font-size: 1.875rem;
  font-weight: 1.25rem;
}

/* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.875rem;
  font-weight: 4.375rem;
}

/* Bottom right text */
.bottom-right {
  /* position: absolute; */
  bottom: 0.5rem;
  right: 0.5rem;
  top: 55%;
  left: 0.4rem;
  color: white;
  font-size: 1.56rem;
  font-weight: 4.375rem;
}

.bottom-right2 {
  position: absolute;
  right: 1.56rem;
  top: 85%;
  width: 5.625rem;
  height: 1.875rem;
  border: none;
  color: black;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: #48C0D3;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);

}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 0.5rem;
  top: 85%;
  left: 2.5rem;
  width: 4.375rem;
  height: 1.875rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #48C0D3;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.belajar {
  color: #0F2C67;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1;
  width: 20vw;
}
.text-student{
  font-size: 6vw;
  text-align: center;
}
.karya{
  text-align: center; 
  margin: 2rem; 
  color: grey;
  font-size: 2vw;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 0.5rem;
  right: 10.375rem;
}



/* dari react */


/* .header {
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
  padding-top: 2rem;
  position: fixed;
  background-color: white;
} */

/* .btn-header {
  margin-right: 1rem;
  border: none;
  color: black;
} */

.btn-kirim{
 background-color: #0F2C67;
 border: none; 
 border-radius: 1vh; 
 width: 25%; 
 height: 10%; 
 color: white; 
 margin-top: 1rem; 
 margin-right: 1rem;
 font-size: 1vw;
}

.btn-regis {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

p {
  color: rgb(83, 81, 81);
}

a {
  margin-bottom: 1rem;
  color: #0F2C67;
}

.footer {
  display: flex;
  padding-left: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #0F2C67;

}
/* text footer */
.footer-1 {
  flex-basis: 70%;
}
.footer-1 a i{
  margin-right: 1vw;
}
/* text footer */
.footer-2 {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
}

.foot {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

a {
  text-decoration: none;
  color: white;
}

.a1 {
  background-color: orange;
  border: none;
  border-radius: 0.5rem;
  width: 12vw;
  height: 7vh;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
}

.form-group-1 {
  display: flex;
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* body{
  display: flex;
} */
/* RESPONSIVE */
/* tablet */

/* @media screen and (max-width: 760.5rem) {
  .div-1 {
    display: flex;
    flex-direction: column;
  }

  .img-detail {
    flex-direction: column;
  }

}
/* mobile */

@media screen and (max-width: 440px) {
  *{
    width: 100%;
  }
  body{
    /* margin-right: -8rem; */
    width: 80%;
  }
  .image1{
    width: 85vw;
    margin: 2rem;
   
  }
  .div-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 3vw;
  }
  .div-1a{
    width: 80vw;
    justify-content: center;
    display: flex;
  }
  .div-1b{
    width: 90vw;
    height: 40vh;
    justify-content: center;
    display: flex;
    margin-left: 15vw;
  }
  .img-detail {
    flex-direction: column;
  }
  .d-block{
    height: 5%;
  }
  .laptop {
    width: 100%;
    flex-basis: 50%;
  }
 
  .btn-kirim{
    width: 25%;
    height: 5vh;
    font-size: 3vw;
  }
  .detail {
    display: flex;
    flex-direction: column;
    height: 50vh;
  }
  .text_skill{
    font-size: 1rem ;
    margin-right: -25px;
  }
  .footer{
    flex-direction: column;
  }
  .footer-1{
    font-size: 0.6rem;
  }
  .footer-1 a{
    display: flex;
  }
  .footer-1 a i{
    flex-basis: 10%;
  }
  .form-det h1{
    font-size: 2rem;
    margin-left: 0.15rem;
  }
  .form-det p {
    margin-left: 0.2rem;
    font-size: 1.5rem;
    width: 70%;
  }
  a .a1 .a2 {
    width: 20vw;
    padding: 1rem;
  }
  .cont {
    flex-direction: column;
  }
  .form-detail{
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
  }
  .container {
   flex-direction: column;
   width: 40vw;
  }
  .see{
   margin-left:1rem; 
   font-size: 1rem;
  }
  .karya{
    width: 50vw;
  }

}